<h1>This is the secret page!</h1>
<p>You found me!</p>
<img alt = "Khagye lai ganayo rey :D" src= "bhalu.jpg">
<li><a href= "/register">Sign Up</a></li>
<li> <a href = "/login!" >login</a></li>
<li> <a href = "/logout">logout</a></li>    
